services:
  gateway:
    image: salmachamam/my-docker-image-name:latest
    container_name: gateway-service
    ports:
      - "8081:8081"
    depends_on:
      - discovery
      - userAuthentification
      - adresse
      - Laboratoire
    environment:
      - DISCOVERY_URL=http://discovery:8761/eureka
      - AUTH_SERVICE_URL=http://userauth-service:9898
      - ADRESSE_SERVICE_URL=http://adresse-service:8010
    networks:
      - app-network

  discovery:
    image: salmachamam/my-discovery-image:latest
    container_name: discovery-service
    ports:
      - "8761:8761"
    networks:
      - app-network
    environment:
      - EUREKA_INSTANCE_HOSTNAME=discovery
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery:8761/eureka

  userAuthentification:
    image: salmachamam/userauthentification-image:latest
    container_name: userauth-service
    ports:
      - "9898:9898"
    depends_on:
      - postgres_auth
    networks:
      - app-network
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-auth-db:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

  adresse:
    image: salmachamam/adresse-image:latest
    container_name: adresse-service
    ports:
      - "8010:8010"
    depends_on:
      - postgres_adresse
    networks:
      - app-network
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-adresse-db:5432/${POSTGRES_DB_adresse}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

  Laboratoire:
    image: salmachamam/laboratoire-image:latest
    container_name: laboratoire-service
    ports:
      - "5000:5000"
    depends_on:
      - postgres_labo
    networks:
      - app-network
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-labo-db:5432/${POSTGRES_DB_LABO}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

  postgres_auth:
    image: postgres
    container_name: postgres-auth-db
    ports:
      - "5433:5432"
    networks:
      - app-network
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data

  postgres_labo:
    image: postgres
    container_name: postgres-labo-db
    ports:
      - "5435:5432"
    networks:
      - app-network
    environment:
      POSTGRES_DB: ${POSTGRES_DB_LABO}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_labo_data:/var/lib/postgresql/data

  postgres_adresse:
    image: postgres
    container_name: postgres-adresse-db
    ports:
      - "5434:5432"
    networks:
      - app-network
    environment:
      POSTGRES_DB: ${POSTGRES_DB_adresse}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_adresse_data:/var/lib/postgresql/data

volumes:
  postgres_auth_data:
  postgres_adresse_data:
  postgres_labo_data:

networks:
  app-network:
