spring:
  cloud:
    gateway:
      routes:
        - id: Utilisateurs
          uri: lb://Utilisateurs
          predicates:
            - Path=/Utilisateurs
          filters:
            - AuthenticationFilter


#        - id: restaurant-service
#          uri: lb://RESTAURANT-SERVICE
#          predicates:
#            - Path=/restaurant/**
#          filters:
#            - AuthenticationFilter
#
#        - id: identity-service
#          uri: lb://IDENTITY-SERVICE
#          predicates:
#            - Path=/auth/**

  application:
    name: GATEWAY

eureka:
  client:
    service-url:
      defaultZone : http://localhost:8761/eureka/