server:
  port: 8761  # Port d'écoute pour le serveur Eureka

eureka:
  server:
    enableSelfPreservation: true  # Active le mode de préservation automatique d'Eureka
    eviction-interval-timer-in-ms: 60000  # Intervalle en millisecondes entre les nettoyages des instances inactives

  client:
    registerWithEureka: false  # Cette option désactive l'enregistrement du serveur Eureka dans Eureka
    fetchRegistry: false  # Cette option désactive la récupération du registre Eureka par ce serveur

  instance:
    hostname: localhost  # Nom d'hôte de votre serveur Eureka
    prefer-ip-address: true  # Utilise l'adresse IP plutôt que le nom d'hôte dans le registre Eureka
    instanceId: ${spring.application.name}:${server.port}  # Définit un ID d'instance unique pour Eureka
    appname: eurekaserver  # Nom de l'application serveur Eureka pour l'afficher dans Eureka UI

logging:
  level:
    com.netflix.discovery: DEBUG  # Niveau de journalisation pour la découverte Eureka (utile pour le débogage)
    org.springframework.cloud.netflix.eureka: DEBUG  # Pour les logs spécifiques à l'intégration de Eureka avec Spring Cloud
    org.springframework.web.client: DEBUG  # Pour observer les appels HTTP (utile si Eureka utilise HTTP pour communiquer)

spring:
  cloud:
    eureka:
      client:
        serviceUrl:
          defaultZone: http://localhost:8761/eureka/  # URL d'accès à votre serveur Eureka
      instance:
        metadata-map:
          instanceId: ${spring.application.name}:${server.port}  # ID d'instance unique pour chaque application enregistrée
        prefer-ip-address: true  # Préférence pour l'IP dans le registre Eureka
